<main>
  <div class="ht-main">
    <div class="ht-tm-wrapper">
      <div class="container ht-tm-container">
        <div class="row">
          <div class="col-xl-12">
            <h2 class="display-4 ht-tm-component-title">Top Wor<span class="vim-caret">k</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div id="ht-tm-maincolumn" class="ht-tm-maincolumn">
              <div class="ht-tm-componentsblock">
                <div class="ht-tm-cat ht-tm-btn-replaceable">
                  <div class="row">
                    @if (!show) {
                      @for (item of skeletons; track $index) {
                        <div class="col-md-6">
                          <app-skeleton page="Work" />
                        </div>
                      }
                    } @else {
                      @for (work of works; track $index) {
                        <div class="col-lg-4">
                          <div class="row">
                            <div class="ht-tm-codeblock">
                              <div class="ht-tm-element card card-work bg-dark border">
                                <div class="card-body p-3">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="row text-white">
                                          <div class="col-3 align-self-center">
                                              <img
                                                [alt]="'logo '+work?.fields?.company"
                                                class="rounded-circle shadow-4-strong img-fluid d-block"
                                                [ngSrc]="work?.logoAsset"
                                                width="100" height="100" priority
                                              />
                                          </div>
                                          <div class="col-9">
                                              <span class="visually-hidden">Company</span>
                                              <span class="font-weight-bold">{{work?.fields?.company}}</span>
                                              <div [innerHTML]="work?.fields?.skills | sanitizedHtml"></div>
                                              <div class="d-flex justify-content-between mt-2">
                                                <small class="visually-hidden">Role</small>
                                                <small class="font-weight-lighter">{{work?.fields?.position}}</small>
                                                <small class="visually-hidden">Date</small>
                                                <small class="font-weight-lighter ml-2">{{work?.fields?.startYear}} - @if (work?.fields?.isResigned) {
                                                  {{work?.fields?.endYear}}
                                                } @else {
                                                  Present
                                                }</small>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      } @empty {
                        @for (item of skeletons; track $index) {
                          <div class="col-md-6">
                            <app-skeleton page="Work" />
                          </div>
                        }
                      }
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
