<div class="ht-tm-navbar navbar-dark text-white">
  <div class="container">

    <div class="ht-tm-navbar-left">
      <a routerLink="/" class="text-decoration-none text-light">
        <span class="ht-tm-navbar-title">RN</span>
      </a>
      <nav class="ht-tm-nav">
        <a routerLink="/home" routerLinkActive="active" class="text-decoration-none text-light">Home</a>
        <a routerLink="/work" routerLinkActive="active" class="text-decoration-none text-light">Work</a>
        <a routerLink="/project" routerLinkActive="active" class="text-decoration-none text-light">Project</a>
        <a routerLink="/blog" routerLinkActive="active" class="text-decoration-none text-light">Blog</a>
        <a routerLink="/talk" routerLinkActive="active" class="text-decoration-none text-light">Talk</a>
      </nav>
    </div>

    <a href="https://www.youtube.com/@raihan.nismara" target="_blank" class="btn btn-sm btn-outline-light ml-auto js-ht-download-link" data-type="theme" data-id="95">Subscribe</a>
  </div>
</div>
